{{ define "QueryResults" }}

	<div style="margin-bottom:48px;">
		<div>
			<div style="display:inline-block; border:1px solid black; background-color:#f0f0f0; text-align:center;">
				<div style="font-size:20px; color:white; background-color:black;">Block Info</div>
				<div style="padding:12px;">
					<div>
						<div style="display:inline-block;">
							<table>
								<tbody>
									<tr>
										<td class="info-window-label">Height:</td>
										<td style="text-align:left;">{{ .Height }}</td>
									</tr>
									<tr>
										<td class="info-window-label">Hash:</td>
										<td style="text-align:left;">{{ .Hash }}</td>
									</tr>
									{{ if ne .PreviousHash nil }}
										<tr>
											<td class="info-window-label">Previous:</td>
											<td style="text-align:left;"><a href="{{ $.BaseUrl }}/block/{{ .PreviousHash }}">{{ .PreviousHash }}</a></td>
										</tr>
									{{ end }}
									{{ if ne .NextHash nil }}
										<tr>
											<td class="info-window-label">Next:</td>
											<td style="text-align:left;"><a href="{{ $.BaseUrl }}/block/{{ .NextHash }}">{{ .NextHash }}</a></td>
										</tr>
									{{ end }}
									<tr>
										<td class="info-window-label">Time:</td>
										<td style="text-align:left;">{{ .Time }}</td>
									</tr>


									<tr>
										<td class="info-window-label">&nbsp;</td>
										<td style="text-align:left;">&nbsp;</td>
									</tr>


									<tr>
										<td class="info-window-label">Transactions:</td>
										<td style="text-align:left;"><span id="tx-count">0</span> (<span id="bip141-percent"></span>% BIP 141)</td>
									</tr>
									<tr>
										<td class="info-window-label">Inputs:</td>
										<td id="input-count" style="text-align:left;">0</td>
									</tr>
									<tr>
										<td class="info-window-label">Outputs:</td>
										<td id="output-count" style="text-align:left;">0</td>
									</tr>

{{/*
									{{ if or (ne .RedeemScriptMultiSigMessage nil) (or (ne .WitnessScriptMultiSigMessage nil) (ne .TapScriptOrdinalsMessage nil)) }}
										<tr>
											<td class="info-window-label">&nbsp;</td>
											<td style="text-align:left;">&nbsp;</td>
										</tr>
										{{ if ne .RedeemScriptMultiSigMessage nil }}
											<tr>
												<td class="info-window-label">Redeem Scripts:</td>
												<td style="text-align:left;">{{ .RedeemScriptMultiSigMessage }}</td>
											</tr>
										{{ end }}
										{{ if ne .WitnessScriptMultiSigMessage nil }}
											<tr>
												<td class="info-window-label">Witness Scripts:</td>
												<td style="text-align:left;">{{ .WitnessScriptMultiSigMessage }}</td>
											</tr>
										{{ end }}
										{{ if ne .TapScriptOrdinalsMessage nil }}
											<tr>
												<td class="info-window-label">Tap Scripts:</td>
												<td style="text-align:left;">{{ .TapScriptOrdinalsMessage }}</td>
											</tr>
										{{ end }}
									{{ end }}
*/}}

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

{{/*
		<div id="toggle-charts-link" style="margin-top:20px; cursor:pointer; color:blue;" onclick="handle_pending_block_spend_types ();">Get Charts</div>

		<div id="spend-type-status" style="margin-top:20px; position:relative; height:20px; background-color:#e0e0e0; border:1px solid black; display:none;">
			<div id="spend-type-status-bar" style="height:20px; position:absolute; background-color:#b0b0b0; width:0;"></div>
			<div id="spend-type-status-percent" style="height:20px; position:absolute; width:100%;"></div>
		</div>

		<div id="type-charts" style="margin-top:20px; display:none;">
			{{ if gt .InputCount 1 }}
				<div style="display:inline-block; border:1px solid black; vertical-align:top;">
					<div style="font-size:20px; color:white; background-color:black;">Spend Types</div>
					<div style="padding:8px; background-color:#f0f0f0;">
						<div id="spend-types" style="display:inline-block;">{{ if ne .SpendTypeChart nil }}{{ template "TypeChartDetail" .SpendTypeChart }}{{ end }}</div>
					</div>
				</div>
			{{ end }}

			<div style="display:inline-block; border:1px solid black; vertical-align:top;">
				<div style="font-size:20px; color:white; background-color:black;">Output Types</div>
				<div style="padding:8px; background-color:#f0f0f0;">
					<div id="output-types" style="display:inline-block;">{{ if ne .OutputTypeChart nil }}{{ template "TypeChartDetail" .OutputTypeChart }}{{ end }}</div>
				</div>
			</div>
		</div>
*/}}

		<div style="margin-top:20px;">
			<div style="display:inline-block; border:1px solid black;">
				<div style="font-size:20px; color:white; background-color:black;">Transactions</div>
				<div style="padding:8px; background-color:#f0f0f0;">
					<div style="display:inline-block;">
						<table>
							<thead>
								<tr style="font-family:monospace;">
									<th style="text-align:center; padding:0 8px 6px;">Index</th>
									<th style="text-align:center; padding:0 8px 6px;">Tx ID</th>
									<th style="text-align:center; padding:0 8px 6px;">BIP 141</th>
									<th style="text-align:center; padding:0 8px 6px;">Inputs</th>
									<th style="text-align:center; padding:0 8px 6px;">Outputs</th>
								</tr>
							</thead>
							<tbody id="txs">
{{/*
								{{ range $I, $Tx := .TxData }}
									<tr onmouseover="$ (this).css ('background-color', '#e0e0e0');" onmouseout="$ (this).css ('background-color', '#f0f0f0');">
										<td style="text-align:center; padding:0 8px;">{{ $Tx.Index }}</td>
										<td style="text-align:center; padding:0 8px;"><a href="{{ $.BaseUrl }}/tx/{{ $Tx.TxId }}">{{ $Tx.TxId }}</a></td>
										<td style="text-align:center; padding:0 8px;">{{ if $Tx.Bip141 }}&#x2713;{{ end }}</td>
										<td style="text-align:center; padding:0 8px;">{{ $Tx.InputCount }}</td>
										<td style="text-align:center; padding:0 8px;">{{ $Tx.OutputCount }}</td>
									</tr>
								{{ end }}
*/}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>

{{ end }}

