{{ define "QueryResults" }}

<div style="margin-bottom:48px;">
	<div>
		<div style="display:inline-block; border:1px solid black; background-color:#f0f0f0; text-align:center;">
			<div style="font-size:20px; color:white; background-color:black;">Transaction Info</div>
			<div style="padding:12px;">

				<div>
					<div style="display:inline-block; padding:8px;">
						<table>
							<tbody>

								<tr>
									<td class="info-window-label">Block:</td>
									<td style="text-align:left;">{{ .BlockHeight }}</td>
								</tr>
								<tr>
									<td class="info-window-label"></td>
									<td style="text-align:left;"><a href="{{ $.BaseUrl }}/block/{{ .BlockHash }}">{{ .BlockHash }}</a></td>
								</tr>
								<tr>
									<td class="info-window-label"></td>
									<td style="text-align:left;">{{ .BlockTime }}</td>
								</tr>


								<tr>
									<td class="info-window-label">&nbsp;</td>
									<td style="text-align:left;">&nbsp;</td>
								</tr>


								<tr>
									<td class="info-window-label">Coinbase:</td>
									<td style="text-align:left;">{{ if .IsCoinbase }}Yes{{ else }}No{{ end }}</td>
								</tr>
								<tr>
									<td class="info-window-label">BIP 141:</td>
									<td style="text-align:left;">{{ if .SupportsBip141 }}Yes{{ else }}No{{ end }}</td>
								</tr>
								<tr>
									<td class="info-window-label">Lock Time:</td>
									<td style="text-align:left;">{{ .LockTime }}</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>


				<div style="text-align:left;">
					<div style="display:inline-block; padding:8px;">
						<table>
							<tbody>

								<tr>
									<td class="info-window-label">Value In:</td>
									<td id="tx-value-in" style="text-align:right;">{{ .ValueIn }}</td>
								</tr>
								<tr>
									<td class="info-window-label">Value Out:</td>
									<td id="tx-value-out" style="text-align:right;">{{ .ValueOut }}</td>
								</tr>
								<tr>
									<td class="info-window-label">Fee:</td>
									<td id="tx-fee" style="text-align:right;">{{ .Fee }}</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section-heading" style="margin-top:20px;">{{ .InputCountLabel }}</div>
	<div id="inputs" style="background-color:#f0fff0; border:1px solid green; margin-top:8px; width:130ch; padding:6px 0 0;">
		<div style="font-family:monospace; font-size:normal; margin-bottom:4px;">
			<div class="tx-part-minimized" style="width:7ch; font-weight:bold;">Index</div>
			<div class="tx-part-minimized" style="width:25ch; font-weight:bold;">Spend Type</div>
			<div class="tx-part-minimized" style="width:18ch; font-weight:bold; text-align:right;">Value</div>
			<div class="tx-part-minimized" style="width:2ch; font-weight:bold; cursor:pointer;"></div>
			<div class="tx-part-minimized" style="width:68ch; font-weight:bold; text-align:left;">Address</div>
		</div>

		{{ range .InputData }}
			{{ template "InputMinimized" . }}
			{{ template "InputMaximized" . }}
		{{ end }}
	</div>

	<div class="section-heading" style="margin-top:20px;">{{ .OutputCountLabel }}</div>
	<div id="outputs" style="background-color:#fff0f0; border:1px solid red; margin-top:8px; width:130ch; padding:6px 0 0;">
		<div style="font-family:monospace; font-size:normal; margin-bottom:4px;">
			<div class="tx-part-minimized" style="width:7ch; font-weight:bold;">Index</div>
			<div class="tx-part-minimized" style="width:25ch; font-weight:bold;">Output Type</div>
			<div class="tx-part-minimized" style="width:18ch; font-weight:bold; text-align:right;">Value</div>
			<div class="tx-part-minimized" style="width:2ch; font-weight:bold; cursor:pointer;"></div>
			<div class="tx-part-minimized" style="width:68ch; font-weight:bold; text-align:left;">Address</div>
		</div>

		{{ range .OutputData }}
			{{ template "OutputMinimized" . }}
			{{ template "OutputMaximized" . }}
		{{ end }}
	</div>

</div>

{{ end }}

