<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/btc-tx.css" />
		<script type="text/javascript" src="/js/jquery-3.7.0.min.js"></script>
		<script type="text/javascript">
			javascript +
		</script>
		<script type="text/javascript" src="/js/btc-tx.js"></script>
	</head>
	<body>
		<div id="page">
			<div id="page-header">
				<a class="menu-item" href="/">Home</a>
			</div>
			<div class="page-content">
				pageContent +
			</div>
			<div class="page-footer"></div>
		</div>
	</body>
</html>

