body
{
	background-color: #202020;
	text-align: center;
}

a
{
	text-decoration: none;
}

table
{
	display: inline-block;
	border: none;
	border-collapse: collapse;
}

th, tr, td
{
	border: none;
}

td
{
	font-family: monospace;
}

.tx-part-minimized
{
	display: inline-block;
}

.section-heading
{
	font-size: x-large;
	font-weight: bold;
/*	margin-bottom: 18px;*/
}

#page
{
	display: inline-block;
	background-color: white;
	text-align: center;
}

#page-header
{
	border-bottom: 1px solid black;
}

.menu-item
{
	margin: 0 12px;

	text-decoration: none;
}

.query-box
{
	font-family: monospace;
	text-align: center;
	margin: 24px 0;
	padding: 10px 0;
	font-size: 16px;
	font-weight: bold;
}

.page-content
{
	display: inline-block;

	padding: 0 12px;

	background-color: white;
	text-align: center;
}

.page-heading-1
{
	font-size: xx-large;
	font-weight: bold;
	margin: 16px 0 12px;
}

.page-heading-2
{
	font-size: x-large;
	font-weight: bold;
	margin: 10px 0 8px;
}

.page-heading-3
{
	font-size: large;
	font-weight: bold;
	margin: 8px 0 6px;
}

.info-box-title-bar
{
	font-family: sans-serif;
	font-size: 14px;
	padding: 1px 0 2px;
	color: white;
	background-color: black;
}

.info-box-theme
{
	border: 1px solid black;
	background-color: #f0f0f0;
}

.field-list
{
	display: inline-block;
	text-align: center;
}

.field-list-theme-non-serialized
{
	border: 1px solid black;
	background-color: #ffeec0;
}

.field-list-theme-serialized
{
	border: 1px solid black;
	background-color: #f0f0ff;
}

.field-list-title-bar
{
	font-family: sans-serif;
	font-size: 14px;
	padding: 1px 0 2px;
}

.field-list-title-bar-theme-non-serialized
{
	color: white;
	background-color: #706050;
}

.field-list-title-bar-theme-serialized
{
	color: white;
	background-color: #404080;
}

.field-list-title-bar-selected-non-serialized
{
	color: #706050;
	background-color: #ffeec0;
}

.field-list-title-bar-selected-serialized
{
	color: #404080;
	background-color: #f0f0ff;
}

.field-list-view-toggle-button
{
	display: inline-block;
	cursor: pointer;
	padding: 0 4px;
	border-radius: 3px;
}

#page-footer
{
	margin-top: 24px;
	border-top: 1px solid black;
	padding: 8px 12px;
}

