{{ define "InputsMinimized" }}
	<div style="display:inline-block; padding:8px 0; margin-top:8px; background-color:#f0fff0; border:1px solid green;">
		<table>
			<thead>
				<tr>
					<th class="tx-part-minimized" style="width:5ch;">Index</th>
					<th class="tx-part-minimized" style="width:20ch;">Spend Type</th>
					<th class="tx-part-minimized">Value</th>
					<th class="tx-part-minimized" style="width:64ch; text-align:left;">Address</th>
				</tr>
			</thead>
			<tbody>
				{{ range . }}
					<tr>
						<td class="tx-part-minimized" style="text-align:right;">{{ .InputIndex }}</td>
						<td id="input-minimized-spend-type-{{ .InputIndex }}" class="tx-part-minimized" style="">{{ .SpendType }}</td>
						<td id="input-minimized-value-{{ .InputIndex }}" class="tx-part-minimized" style="text-align:right;">{{ .ValueIn }}</td>
						<td id="input-minimized-address-{{ .InputIndex }}" class="tx-part-minimized" style="text-align:left;"></td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</div>
{{ end }}

