{{ define "InputsMinimized" }}
	<div style="display:inline-block; padding:8px 0; margin-top:8px; background-color:#f0fff0; font-family:monospace;">
		<div class="tx-part-minimized" style="display:inline-block; width:3ch; font-weight:bold; cursor:pointer;">+</div>
		<div class="tx-part-minimized" style="display:inline-block; width:5ch; font-weight:bold;">Index</div>
		<div class="tx-part-minimized" style="display:inline-block; width:20ch; font-weight:bold;">Spend Type</div>
		<div class="tx-part-minimized" style="display:inline-block; width:16ch; font-weight:bold; text-align:right;">Value</div>
		<div class="tx-part-minimized" style="display:inline-block; width:64ch; font-weight:bold; text-align:left;">Address</div>
	</div>

	{{ range . }}
		<div style="display:inline-block; background-color:#f0fff0; border-top:1px solid #a8c0a8; font-family:monospace;">
			<div class="tx-part-minimized" style="display:inline-block; width:3ch; font-weight:bold; cursor:pointer;">+</div>
			<div class="tx-part-minimized" style="display:inline-block; width:5ch;">{{ .InputIndex }}</div>
			<div id="input-minimized-spend-type-{{ .InputIndex }}" class="tx-part-minimized" style="display:inline-block; width:20ch;">{{ .SpendType }}</div>
			<div id="input-minimized-value-{{ .InputIndex }}" class="tx-part-minimized" style="display:inline-block; width:16ch; text-align:right;">{{ .ValueIn }}</div>
			<div id="input-minimized-address-{{ .InputIndex }}" class="tx-part-minimized" style="display:inline-block; width:64ch; text-align:left;"></div>
		</div>
	{{ end }}

	<div style="display:inline-block; padding:8px 0; margin-top:8px; background-color:#f0fff0; border:1px solid green;">
		<table>
			<thead>
				<tr>
					<th class="tx-part-minimized" style="width:5ch;">Index</th>
					<th class="tx-part-minimized" style="width:20ch;">Spend Type</th>
					<th class="tx-part-minimized">Value</th>
					<th class="tx-part-minimized" style="width:64ch; text-align:left;">Address</th>
				</tr>
			</thead>
			<tbody>
				{{ range . }}
					<tr>
						<td class="tx-part-minimized" style="text-align:right;">{{ .InputIndex }}</td>
						<td id="input-minimized-spend-type-{{ .InputIndex }}" class="tx-part-minimized" style="">{{ .SpendType }}</td>
						<td id="input-minimized-value-{{ .InputIndex }}" class="tx-part-minimized" style="text-align:right;">{{ .ValueIn }}</td>
						<td id="input-minimized-address-{{ .InputIndex }}" class="tx-part-minimized" style="text-align:left;"></td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</div>
{{ end }}

