{{ define "Layout" }}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/explorer.css" />
		<script type="text/javascript" src="/js/jquery-3.7.0.min.js"></script>
		{{ .CustomJavascript }}
		<script type="text/javascript" src="/js/explorer.js"></script>
	</head>
	<body>
		<div id="page">
			<div id="page-header">
				<a class="menu-item" href="/">Home</a>
			</div>
			<div class="page-content">{{ template "LayoutContent" .ExplorerPage }}</div>
			<div class="page-footer"></div>
		</div>
	</body>
</html>

{{ end }}
