{{ define "QueryResults" }}

<div style="margin-bottom:48px;">
	<div class="section-heading">Transaction</div>

	<div style="display:inline-block; background-color:#f0f0f0;">
		<div>
			<div style="display:inline-block; padding:8px;">
				<table>
					<tbody>
						<tr>
							<td style="text-align:right; padding-right:8px;">Block:</td>
							<td style="text-align:left;">{{ .BlockHeight }}</td>
						</tr>
						<tr>
							<td style="text-align:right; padding-right:8px;"></td>
							<td style="text-align:left;"><a href="{{ $.BaseUrl }}/block/{{ .BlockHash }}">{{ .BlockHash }}</a></td>
						</tr>
						<tr>
							<td style="text-align:right; padding-right:8px;"></td>
							<td style="text-align:left;">{{ .BlockTime }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div>
			<div style="display:inline-block; padding:8px;">
				<table>
					<tbody>
						<tr>
							<td style="text-align:right; padding-right:8px;">Coinbase:</td>
							<td style="text-align:left;">{{ if .IsCoinbase }}Yes{{ else }}No{{ end }}</td>
						</tr>
						<tr>
							<td style="text-align:right; padding-right:8px;">BIP 141:</td>
							<td style="text-align:left;">{{ if .SupportsBip141 }}Yes{{ else }}No{{ end }}</td>
						</tr>
						<tr>
							<td style="text-align:right; padding-right:8px;">Lock Time:</td>
							<td style="text-align:left;">{{ .LockTime }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div>
			<div style="display:inline-block; padding:8px;">
				<table>
					<tbody>
						<tr>
							<td style="text-align:right; padding-right:8px;">Value In:</td>
							<td style="text-align:right;" id="tx-value-in">{{ .ValueIn }}</td>
						</tr>
						<tr>
							<td style="text-align:right; padding-right:8px;">Value Out:</td>
							<td style="text-align:right;" id="tx-value-out">{{ .ValueOut }}</td>
						</tr>
						<tr>
							<td style="text-align:right; padding-right:8px;">Fee:</td>
							<td style="text-align:right;" id="tx-fee">{{ .Fee }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="section-heading" style="margin-top:12px;">{{ .InputCountLabel }}</div>
	<div id="inputs" style="background-color:#f0fff0; border:1px solid green; margin-top:8px; width:130ch; padding:6px 0 0;">
		<div style="font-family:monospace; font-size:normal; margin-bottom:4px;">
			<div class="tx-part-minimized" style="width:7ch; font-weight:bold;">Index</div>
			<div class="tx-part-minimized" style="width:25ch; font-weight:bold;">Spend Type</div>
			<div class="tx-part-minimized" style="width:18ch; font-weight:bold; text-align:right;">Value</div>
			<div class="tx-part-minimized" style="width:2ch; font-weight:bold; cursor:pointer;"></div>
			<div class="tx-part-minimized" style="width:68ch; font-weight:bold; text-align:left;">Address</div>
		</div>

		{{ range .InputData }}
			{{ template "InputMinimized" . }}
			{{ template "InputMaximized" . }}
		{{ end }}
	</div>

	<div class="section-heading" style="margin-top:12px;">{{ .OutputCountLabel }}</div>
	<div id="outputs" style="background-color:#fff0f0; border:1px solid red; margin-top:8px; width:130ch; padding:6px 0 0;">
		<div style="font-family:monospace; font-size:normal; margin-bottom:4px;">
			<div class="tx-part-minimized" style="width:7ch; font-weight:bold;">Index</div>
			<div class="tx-part-minimized" style="width:25ch; font-weight:bold;">Output Type</div>
			<div class="tx-part-minimized" style="width:18ch; font-weight:bold; text-align:right;">Value</div>
			<div class="tx-part-minimized" style="width:2ch; font-weight:bold; cursor:pointer;"></div>
			<div class="tx-part-minimized" style="width:68ch; font-weight:bold; text-align:left;">Address</div>
		</div>

		{{ range .OutputData }}
			{{ template "OutputMinimized" . }}
			{{ template "OutputMaximized" . }}
		{{ end }}
	</div>

</div>

{{ end }}

